.ui-content{
	background-color: #f8f8f8;
}

.ui-header{
	height: 43px;
	font-size:17px;
}

.ui-footer{
  background-color: #00b276;
}

.form-field {
   border: 3px solid #00ccbb;
   background: #ffffff;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #25a13e;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:6em;
}

#history{
	color :#ffffff;
}

@font-face{
	font-family: 'rounded-mplus';
	src:url('fonts/rounded-mplus-20140812/rounded-mplus-2p-regular.ttf') format('truetype');
}

*{
	font-family:'rounded-mplus';
}


#target{
        animation:blink 0.5s ease-out 0s infinite alternate;
        -webkit-animation:blink 0.5s ease-out 0s infinite alternate;
        -moz-animation:blink 1s ease-out 0s infinite alternate;
      }
	  @keyframes blink{
        0% {}
        100% {background:rgba(255,200,200,1.0);}
      }
      @-webkit-keyframes blink{
        0% {}
        100% {background:rgba(255,200,200,1.0);}
      }
      @-moz-keyframes blink{
        0% {}
        100% {background:rgba(255,200s,200,1.0);}
      }
}

